#layout-app {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

#layout-app #left{
    border-right: 1px solid #ddd;
}

#layout-app #right{
    background-color: #eee;

    display: grid;
    place-items: center;
}