@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    /* colors */
    --base-text: #000000;
    --old-glory-blue: #0A3161;

    /* font sizes */
    --base-size: 16px;
    --title-size: 20px;
    --small-size: 12px;
}

/*#region Preview Block*/

#layout-prayerblockpreview {
    width: 200px;
    height: 500px;
    background-color: #fff;
    padding: 24px;
    overflow-x: hidden;
    border-radius: 8px;
}

#layout-prayerblockpreview > *{
    margin-bottom: 8px;
}

/* 
PREVIEW BLOCK
*/

.preview-block {
    position: relative;
    border: 1px solid transparent;
    min-height: 16px;
}

.preview-block * {
    font-family: "Neuton", serif !important;
}


.preview-block:hover {
    border: 1px solid #ddd;
}

.preview-block::after {
    font-family: 'Courier New', Courier, monospace;
}

.preview-block:hover::after {
    position: absolute;
    content: "[blank]";
    top: 0;
    right: 0;
    font-size: 10px;
    transform: translateY(-8px);
    background-color: #ddd;
    padding: 2px;
    font-size: 12px !important;
}

/*#endregion RegionName*/

/* PREVIEW BODY */

.preview-body:hover::after {
    font-size: var(--base-text);
}

.preview-body:hover::after {
    content: "BODY";
}

.preview-body-centered {
    text-align: center;
}

.preview-body-centered:hover::after {
    content: "BODY CENTERED";
}

/* PREVIEW TITLE */

.preview-centered-title{
    text-align: center;
    font-size: var(--title-size);
    color:  var(--old-glory-blue) !important;
}

.preview-centered-title:hover::after {
    content: "CENTERED TITLE";
}

/* PREVIEW INFO */

.preview-info {
    font-size: var(--small-size);
    text-align: center;
}

.preview-info:hover::after {
    content: "INFO";
}

/* PREVIEW REFERENCE */

.preview-reference {
    font-size: var(--small-size);
    text-align: center;
    font-style: italic;
    font-weight: 100 !important;
}

.preview-reference * {
    font-weight: 100 !important;
}

.preview-reference:hover::after {
    content: "REFERENCE";
}

/* PREVIEW REFERENCE */

.preview-quote-wrapper {
    position: relative;
}

.preview-quote {
    font-style: italic;
    padding-bottom: 12px;
}

.preview-quote:hover::after { 
    content: "QUOTE";
}

.preview-quote * {
    font-weight: 100 !important;
}

.preview-quote-reference {
    position: absolute;
    font-family: "Neuton", serif !important;
    text-align: right;
    bottom: 0;
    right: 0;
}

/* PREVIEW IMAGE */

.preview-image:hover::after { 
    content: "IMAGE";
}

.preview-image-small img {
    width: calc(100% * 0.68);
    margin: 0 auto;
}

.preview-image-small:hover::after { 
    content: "SMALL IMAGE";
}


/* PREVIEW LITANY */

.preview-litany:hover::after { 
    content: "LITANY";
}

.preview-litany-row {
    display: flex;
}