#layout-colorscontrols {
    border: 1px solid #ddd;
    background-color: white;

    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 16px;
    border-radius: 30px;
}

#layout-colorscontrols > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 20px;
}

.layout-colorscontrols-color {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid black;
    position: relative
}

.layout-colorscontrols-color.selected::after {
    content: "*";
    display: block;
    transform: translateY(-12px);
}


.color-picker-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.color-preview {
    border: 1px solid #ddd;
    border-radius: 4px;
}