@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: Arial, Helvetica, sans-serif;
}

body, #root {
    width: 100vw;
    height: 100vh;
}

img {
    display: block;
    width: 100%;
}

button {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    background-color: transparent;
}

sup {
    vertical-align: top;
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}


.modal-body button {
    border: 1px solid #a5d6a7;
    border-radius: 26px;
    padding: 8px 0;
    background-color: #c8e6c9;
}