@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

/* colors: https://designsystem.digital.gov/design-tokens/color/state-tokens/ */

* {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: Arial, Helvetica, sans-serif;
}

body, #root {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

sup {
    vertical-align: top;
}

input {
    height: 32px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0 12px;
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}


.modal-body button {
    border: 1px solid #a5d6a7;
    border-radius: 26px;
    padding: 8px 0;
    background-color: #c8e6c9;
}